@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img class="img-responsive img-thumbnail" src="@Url.Content("~/img/anhdep1.jpg")" />
</div>

<div class="row">
    <div class="col-md-4">
        
    </div>
</div>